{% extends "::base.html.twig" %}

{% block title %}AssociationBundle:Association:deleteAssociation{% endblock %}

{% block body %}
<h1>Welcome to the Association:deleteAssociation page</h1>
{% endblock %}
