{% extends "::base.html.twig" %}

{% block title %}AssociationBundle:Association:getAllAssociation{% endblock %}

{% block body %}
<h1>Welcome to the Association:getAllAssociation page</h1>
{% endblock %}
