{% extends "::base.html.twig" %}

{% block title %}AssociationBundle:Association:updateAssociation{% endblock %}

{% block body %}
<h1>Welcome to the Association:updateAssociation page</h1>
{% endblock %}
