{% extends "::base.html.twig" %}

{% block title %}AssociationBundle:Reclamation:updateReclamation{% endblock %}

{% block body %}
<h1>Welcome to the Reclamation:updateReclamation page</h1>
{% endblock %}
